/*-- Reset-Code --*/

body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}



	
/*-- Locations --*/

.wthreelocationsaits h3, .agilepackagesw3l h3, .w3portfolioaits h3, .agilecontactw3ls h3 {
	font-size: 40px;
	margin-bottom: 50px;
	color: #000;
}

.wthreelocationsaits .noscroll {
	overflow: hidden;
}

.wthreelocationsaits .grid-wrap {
	margin: 0 auto;
	width: 100%;
	padding: 0;
}

.wthreelocationsaits .grid {
	position: relative;
	-webkit-transition: all 0.5s cubic-bezier(0,0,0.25,1);
	transition: all 0.5s cubic-bezier(0,0,0.25,1);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.wthreelocationsaits .view-full .grid {
	-webkit-transform: translateZ(-1500px);
	transform: translateZ(-1500px);
}

.wthreelocationsaits .grid figure {
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.wthreelocationsaits .grid figure.active {
	opacity: 0;
}

.wthreelocationsaits .grid .placeholder {
	pointer-events: none;
	position: absolute;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.wthreelocationsaits .placeholder > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.wthreelocationsaits .placeholder .front img {
	width: 100%;
	height: 100%;
}

.wthreelocationsaits .placeholder .back {
	background: white;
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.wthreelocationsaits .wthreelocationsaits .view-full .placeholder {
	-webkit-transition: all 0.5s 0.1s cubic-bezier(0,0,0.25,1);
	transition: all 0.5s 0.1s cubic-bezier(0,0,0.25,1);
}

.wthreelocationsaits .vertical .view-full .placeholder {
	-webkit-transform: translateZ(1500px) rotateX(-179.9deg);
	transform: translateZ(1500px) rotateX(-179.9deg);
}

.wthreelocationsaits .horizontal .view-full .placeholder {
	-webkit-transform: translateZ(1500px) rotateY(-179.9deg);
	transform: translateZ(1500px) rotateY(-179.9deg);
}

.wthreelocationsaits .grid figure img {
	display: block;
	width: 100%;
}

.wthreelocationsaits .content, .loading {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
}

.wthreelocationsaits .content {
	overflow-y: scroll;
	height: 0;
	background: #000;
	visibility: hidden;
	z-index: 400;
	-webkit-overflow-scrolling: touch;
}

.wthreelocationsaits .loading {
	opacity: 0;
	z-index: 1;
	background: transparent url("../images/preloader.gif") no-repeat center center;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
}

.wthreelocationsaits .loading.show {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.wthreelocationsaits .content.show {
	height: auto;
	pointer-events: auto;
	visibility: visible;
}

.wthreelocationsaits .content > div {
	z-index: 10;
	position: absolute;
	top: 0;
	width: 100%;
	overflow: hidden;
	height: 0;
	opacity: 0;
	background: #000;
}

.wthreelocationsaits .content > div.show {
	height: auto;
	opacity: 1;	
	-webkit-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

.wthreelocationsaits .icon:before {
	font-family: 'fontawesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wthreelocationsaits .close-content {
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 10px;
	font-size: 1.6em;
	color: #DDD;
	cursor: pointer;
	pointer-events: none;
	padding: 1em;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.wthreelocationsaits .close-content:hover {
	color: #FFF;
}

.wthreelocationsaits .content > div.show ~ .close-content {
	opacity: 1;
	pointer-events: auto;
}

.wthreelocationsaits .dummy-img, .dummy-text {
	max-width: 600px;
	opacity: 0;
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
}

.wthreelocationsaits .vertical .dummy-img, .vertical .dummy-text {
	-webkit-transform: translateY(100px);
	transform: translateY(100px);
}

.wthreelocationsaits .horizontal .dummy-img, .horizontal .dummy-text {
	-webkit-transform: translateX(-100px);
	transform: translateX(-100px);
}

.wthreelocationsaits .content > div.show .dummy-img, .content > div.show .dummy-text {
	opacity: 1;
}

.wthreelocationsaits .vertical .content > div.show .dummy-img, .vertical .content > div.show .dummy-text {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.wthreelocationsaits .horizontal .content > div.show .dummy-img, .horizontal .content > div.show .dummy-text {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.wthreelocationsaits p.dummy-text:nth-child(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.wthreelocationsaits p.dummy-text:nth-child(3) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.wthreelocationsaits .dummy-img {
	height: 100%;
	margin: 30px auto;
}

.wthreelocationsaits .dummy-text {
	text-align: left;
	margin: 0 auto;
	padding: 10px 0;
	color: #ddd;
	font-size: 1em;
}

.wthreelocationsaits p.aitsheadingw3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	color: #FFF;
}

.wthreelocationsaits .dummy-text:last-child {
	padding-bottom: 100px;
}

.wthreelocationsaits .no-pointerevents .content, .wthreelocationsaits .no-csstransforms3d .content, .wthreelocationsaits .no-csstransitions .content, .wthreelocationsaits .no-pointerevents .content > div, .wthreelocationsaits .no-csstransforms3d .content > div, .wthreelocationsaits .no-csstransitions .content > div, .wthreelocationsaits .no-pointerevents .close-content, .wthreelocationsaits .no-csstransforms3d .close-content, .wthreelocationsaits .no-csstransitions .close-content {
	opacity: 1;
	visibility: visible;
	display: none;
	height: auto;
}

.wthreelocationsaits .no-pointerevents .show .close-content, .wthreelocationsaits .no-csstransforms3d .show .close-content, .wthreelocationsaits .no-csstransition .show .close-content, .wthreelocationsaits .no-pointerevents div.show, .wthreelocationsaits .no-csstransforms3d div.show, .wthreelocationsaits .no-csstransitions div.show, .wthreelocationsaits .no-csstransitions .dummy-img, .wthreelocationsaits .no-csstransitions .dummy-text, .wthreelocationsaits .no-csstransforms3d .dummy-img, .wthreelocationsaits .no-csstransforms3d .dummy-text, .wthreelocationsaits .no-pointerevents .dummy-img, .wthreelocationsaits .no-pointerevents .dummy-text {
	display: block !important;
	opacity: 1;
}

@media screen and (max-width: 1000px) {
	.wthreelocationsaits .grid figure, .wthreelocationsaits .grid .placeholder {
		width: 240px;
		height: 212px;
	}
}

.wthreelocationsaits .grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	padding: 0;
	width: 32.4%;
	margin: 5px;
}

.wthreelocationsaits .grid figure img {
	position: relative;
	display: block;
}

.wthreelocationsaits .grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.wthreelocationsaits .grid figure figcaption::before, .grid figure figcaption::after {
	pointer-events: none;
}

.wthreelocationsaits .grid figure figcaption, .grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.wthreelocationsaits figure.effect-zoe figcaption {
	top: auto;
	bottom: 0;
	padding: 0;
	height: 100%;
	background: rgba(0, 0, 0, 0.55);
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.wthreelocationsaits figure.effect-zoe h4 {
	text-align: center;
	font-size: 35px;
	color: #FFF;
	margin-top: 3.4em;
}

.wthreelocationsaits figure.effect-zoe h4 {
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

.wthreelocationsaits figure.effect-zoe:hover figcaption, figure.effect-zoe:hover h4 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.wthreelocationsaits figure.effect-zoe:hover h4 {
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

/*-- //Locations --*/
